
APP_PROTOCOL = http
APP_HOST = api.openweathermap.org


CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

PROVISIONING_PROFILE =

CODE_SIGN_ENTITLEMENTS =

EMBEDDED_CONTENT_CONTAINS_SWIFT = YES

ONLY_ACTIVE_ARCH = YES

GCC_OPTIMIZATION_LEVEL = 0

DEBUG_INFORMATION_FORMAT = dwarf

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

SWIFT_OPTIMIZATION_LEVEL = -Onone

MTL_ENABLE_DEBUG_INFO = YES

VALIDATE_PRODUCT = NO

ENABLE_TESTABILITY = YES
