
APP_PROTOCOL = https
APP_HOST = test.com

PRODUCT_NAME = ${TARGET_NAME}

INFOPLIST_FILE = $(PRODUCT_NAME)/Info.plist

ONLY_ACTIVE_ARCH = YES

GCC_OPTIMIZATION_LEVEL = 0

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

SWIFT_OPTIMIZATION_LEVEL = -Onone

LIBRARY_SEARCH_PATHS = $(inherited)

LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks

FRAMEWORK_SEARCH_PATHS = $(inherited)

TEST_HOST = $(BUNDLE_LOADER)

BUNDLE_LOADER =
